@charset "UTF-8";

* {
                        margin: 0px;
                        padding: 0px;
}

body {
                        background-color: black;
                        color: white;
                      

}



footer {
        background-color: black;
        color: white;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 5px;
}